<div class="container my-2">
    <h1 class="display text-center text-secondary"><em>RECENT POSTS</em></h1>
</div>
<!--<div class="row mx-3">
    <div class="col" id="allusers-container">
       
    </div>
</div>-->
<div class="container" style="background-color: rgba(100,100,100,.5); border-radius: 8px;">
<div class="row" id="allusers-container">

</div>
</div>


<script src="/app/all-users.js"></script>  <!--all folder ke andar wala all-posts.js wala load hua hai yaha-->
<script>
allusers()
</script>